
Link {
  text-decoration: none;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


nav.shrink {
  
  background-color: rgba(120,120,120,0.6);
  padding-top:0px;
  padding-bottom:0px;
  border-bottom: 0.2px solid grey;
}
nav {
  padding-top:0px;
  padding-bottom:0px;
}

 @media (min-width:992px) {
 nav.shrink {

   background-color: rgba(120,120,120,0.6);
   padding-top:0px;
   padding-bottom:0px;
   border-bottom: 0.2px solid grey;
 }
 nav {
   padding-top:0px;
   padding-bottom:0px;
 }


  nav, nav.shrink #navbarNav ul li a{
    padding-top:10px;
    font-size: 14px;
    margin: 0;
    padding: 8px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color:#707070;
  }
  nav #navbarNav ul li a{
    padding-top:20px;
    font-size: 14px;
    margin: 0;
    padding: 8px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;    
    color:#ffffff;
  }
 }

 @media (min-width: 768px) and (max-width: 991px) {

      nav, nav.shrink {
       background-color: white;
       padding-top:20px;
       padding-bottom:10px;
       border-bottom: 0.2px solid grey;
       color: #707070;       
     }
    

     nav, nav.shrink #navbarNav ul li a{
       padding-top:20px;
       font-size: 14px;
       margin: 0;
       padding: 8px;
       line-height: 1;
       font-family: "Poppins", sans-serif;
       font-weight: 700;
       letter-spacing: 1px;    
     }
     nav #navbarNav ul li a{
       padding-top:20px;
       font-size: 14px;
       margin: 0;
       padding: 8px;
       line-height: 1;
       font-family: "Poppins", sans-serif;
       font-weight: 700;
       letter-spacing: 1px;
       
     }

}
@media (min-width: 576px) and (max-width: 767px) {
  nav, nav.shrink {
   background-color: white;
   padding-top:20px;
   padding-bottom:10px;
   border-bottom: 0.2px solid grey;
   color: #707070;

 }


 nav, nav.shrink #navbarNav ul li a{
   padding-top:20px;
   font-size: 14px;
   margin: 0;
   padding: 8px;
   line-height: 1;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   letter-spacing: 1px;

 }
 nav #navbarNav ul li a{
   padding-top:20px;
   font-size: 14px;
   margin: 0;
   padding: 8px;
   line-height: 1;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   letter-spacing: 1px;
 }
}

/*Extra Small Screens (Portriat Mode)*/
@media (min-width:320px) and (max-width: 575px){
  nav, nav.shrink {
   background-color: white;
   padding-top:20px;
   padding-bottom:10px;
   border-bottom: 0.2px solid grey;
   color: #707070;

 }


 nav, nav.shrink #navbarNav ul li a{
   padding-top:20px;
   font-size: 14px;
   margin: 0;
   padding: 8px;
   line-height: 1;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   letter-spacing: 1px;
 }
 nav #navbarNav ul li a{
   padding-top:20px;
   font-size: 14px;
   margin: 0;
   padding: 8px;
   line-height: 1;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   letter-spacing: 1px;

 }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {


   nav, nav.shrink {
    background-color: white;
    padding-top:20px;
    padding-bottom:10px;
    border-bottom: 0.2px solid grey;
    color: #707070;

  }


  nav, nav.shrink #navbarNav ul li a{
    padding-top:20px;
    font-size: 14px;
    margin: 0;
    padding: 8px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }
  nav #navbarNav ul li a{
    padding-top:20px;
    font-size: 14px;
    margin: 0;
    padding: 8px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;

  }

}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out
}

#mainNav .navbar-nav .nav-item:hover {
  background-color: transparent;
  font-weight: 700;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {  
  font-weight: 700;
}

#mainNav .nav-link.active:hover, #mainNav .nav-link:hover, #mainNav .nav-link.active {  
  font-weight: 700;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 0px;
  color: #000000;
  border: 1px solid #000000;
}

.navbar-toggler{
  float:right;
  text-align: right;
}

.modal-backdrop
{
    opacity:0 !important;
}




/*Menus dropdown in largscree*/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {  
    pointer-events: none;
}
@media only screen  and (max-width : 991px) {
  #top {
    visibility: hidden; 
  }
}

/*Remove default down arrow from dropdown button*/
.dropdown-toggle::after { 
  content: none; 
} 

/*Dropdown submenu position and width*/
.dropdown-menu {  
  position: relative;
}
#submenu {
  top: 0;
  left: 200px;  
}

/*Make a background color when mouse hover the menu*/
.dropdown .dropdown-menu a:hover
{
  color: #000;
  background-color: #DCDCDC;
  border-color: #fff;
}
.dropdown .dropdown-item a:hover
{
  color: #000;
  background-color: #DCDCDC;
  border-color: #fff;
}

.dropdown .nav-item:hover
{
  color: #000;
  background-color: #DCDCDC;
}

/*Active menu highlighted with left border*/
.nav-item .active {  
  border-left: 3px solid red;
  margin-left: 0px;
}



/*Menu open by sidebar in mobile view*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #111;*/
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /*font-size: 25px;*/
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}