/*--------------------
 Popup Modal
 ---------------------*/

 .modal .modal-dialog{
    max-width:100%;
      overflow-y: initial !important
  }
  .modal .modal-body{
      height: 600px;
      overflow-y: auto;
  }
.modalImage{
    width: 90%;
    height: 500px;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  /*Mobile and Smartphones*/
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #productview {
      padding-top: 10px;
    }
  .modal .modal-dialog {
    max-width:100%;
  }
  .modal .modal-body{
      height: 450px;
      overflow-y: auto;
  }
.modalImage{
    width: 90%;
    height: 400px;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  }
  
  /* Desktops, laptops and taps----------- */
  @media only screen  and (min-width : 1224px) {
  .modal .modal-dialog {
    max-width:90%;
  }
  .modal .modal-body{
      height: 600px;
      overflow-y: auto;
  }
.modalImage{
    width: 90%;
    height: 500px;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  }
  
  @media only screen  and (min-width : 1199px) {
  .modal .modal-dialog {
    max-width:90%;
  }
  .modal .modal-body{
      height: 600px;
      overflow-y: auto;
  }
.modalImage{
    width: 90%;
    height: 500px;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  }
  @media only screen  and (min-width : 991px) {
  .modal .modal-dialog {
    max-width:90%;
  }
  .modal .modal-body{
      height: 600px;
      overflow-y: auto;
  }
.modalImage{
    width: 90%;
    height: 500px;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  }
  @media only screen  and (min-width : 767px) {
  .modal .modal-dialog {
    max-width:90%;
  }
  .modal .modal-body{
      height: 600px;
      overflow-y: auto;
  }
.modalImage{
    width: 90%;
    height: 500px;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  }
  @media only screen  and (min-width : 575px) {
  .modal .modal-dialog {
    max-width:90%;
  }
  .modal .modal-body{
      height: 600px;
      overflow-y: auto;
  }
.modalImage{
    width: 90%;
    max-height: 500px;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  }
  
  .modal-body p {
    font-size: 14px;
    line-height: 1.5;
  }
  .modal-body .d-flex .p-1 {
    font-size: 14px;
    line-height: 1.5;
  }
  
  /*#container {
    width: 48px;
    height: 48px;
 }
 
 #container img {
    width: 100%;
 }*/