#productDetails{
    padding-bottom: 500px;
  }  

#productDetailsTitle {
    font-weight: 300;
    line-height: 1.1;
    font-size: 40px;
  }

#productDetailsPriceBottom {
    box-shadow: 0px 10px 5px -10px gray;
  }

#tabs .nav-item {
    background-color:#fff;
    color: gray;
  }
  
#tabs .nav-item .active {
    background-color: #D3D3D3;
    color: #000;    
  }

  #slideArrow {
    background-color: gray;
    color: #000;
      }
